@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../../Components/font/SF-Pro-Text-Medium.otf") format("truetype");
}
@font-face {
  font-family: "SF UI Text";
  src: url("../../Components/font/sfuitext_light.otf") format("truetype");
}
.df {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}
.center section {
  width: 100%;
  max-width: 375px;
}
.center section .logo {
  position: absolute;
  margin-top: 34px;
  margin-left: 326px;
}
.center section .center1 {
  width: 100%;
  justify-content: center;
}
.center section .center1 h2 {
  color: rgb(0, 0, 0);
  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.41px;
  text-align: center;
  padding-top: 40px;
}
.center section .status {
  margin-top: 31px;
  margin-left: 5%;
}
.center section .status img {
  width: 60px;
  height: 60px;
}
.center section .status .status_elements {
  margin-left: 16px;
}
.center section .status .status_elements .name {
  color: rgb(51, 51, 51);
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
.center section .status .status_elements .type {
  color: rgba(51, 51, 51, 0.48);
  font-family: SF UI Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 5px;
}
.center section .status .status_elements .place {
  color: rgb(51, 51, 51);
  font-family: SF UI Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 7px;
}
.center section .describe {
  width: 89%;
  height: 69px;
  margin-top: 20px;
  margin-left: 5%;
  box-sizing: border-box;
  border: 1px solid rgb(232, 230, 234);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center section .describe p {
  text-align: left;
  width: 80%;
  color: rgb(51, 51, 51);
  font-family: SF UI Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}
.center section button {
  margin-left: 5%;
  width: 89%;
  height: 50px;
  border-radius: 10px;
  background: rgb(26, 166, 215);
  margin-top: 18px;
  border: 0;
  transition: all 0.3s;
}
.center section button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: SF UI Text;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}
.center section button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.center section button:hover a {
  color: #3a7999;
}
.center section .h2 {
  margin-left: 5%;
  color: rgb(51, 51, 51);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  margin-top: 22px;
}
.center section .gallery-container {
  width: 100%;
  gap: 6px;
  overflow-x: auto;
  white-space: nowrap;
  /* Скрыть кнопку прокрутки (скролл) */
  scrollbar-width: none; /* Для Firefox */
}
.center section .gallery-container ::-webkit-scrollbar {
  display: none; /* Для WebKit (Chrome, Safari) */
}
.center section .gallery-container .gallery {
  gap: 6px;
  margin-top: 12px;
  margin-left: 5%;
}
.center section .gallery-container .gallery img {
  width: 100px;
  height: 100px;
}
.center section .reviews {
  margin-top: 22px;
  margin-left: 5%;
}
.center section .reviews h2 {
  color: rgb(51, 51, 51);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}
.center section .reviews .status1 {
  margin: 0;
  margin-top: 18px;
}
.center section .reviews .status1 .ava {
  width: 40px;
  height: 40px;
}
.center section .reviews .status1 .df .name {
  margin-left: 12px;
  color: rgb(51, 51, 51);
  font-family: SF UI Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
.center section .reviews .status1 .df .date {
  color: rgba(51, 51, 51, 0.6);
  margin-top: 2px;
  font-family: SF UI Text;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  margin-left: 16px;
}
.center section .reviews .status1 .df img {
  width: 13.75px;
  height: 17.5px;
  position: absolute;
  margin-left: 281px;
}
.center section .reviews .status1 p {
  color: rgb(51, 51, 51);
  font-family: SF UI Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
  border: 0;
  margin-left: 12px;
  height: 30px;
  display: block;
  line-height: 20px;
}
.center section .reviews .status2 {
  margin: 0;
  margin-top: 23px;
}
.center section .reviews .status2 .ava {
  width: 40px;
  height: 40px;
}
.center section .reviews .status2 .df .name {
  width: 67px;
  margin-left: 12px;
  color: rgb(51, 51, 51);
  font-family: SF UI Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}
.center section .reviews .status2 .df .date {
  padding-top: 7px;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 2px;
  font-family: SF UI Text;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  margin-left: 16px;
}
.center section .reviews .status2 .df img {
  width: 13.75px;
  height: 17.5px;
  position: absolute;
  margin-left: 281px;
}
.center section .reviews .status2 p {
  width: 90%;
  color: rgb(51, 51, 51);
  font-family: SF UI Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
  margin-top: 2%;
  border: 0;
  margin-left: 12px;
  height: 30px;
  display: block;
}

/*# sourceMappingURL=main.css.map */
